<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dialogue form</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="calculate.js" defer></script>
    <link rel="stylesheet" href="https://unpkg.com/bamboo.css">
    <!-- Apply the external CSS here -->

    <style>
        .radio-list { list-style-type: none; padding: 0; }
        form li {
			display: flex;
			gap: 0.5em
		}
		input:invalid:focus {background-color: red;
		}
    </style>
  </head>
  <body>
        <h1>Hey, it looks like the link expired or doesn't exist! Try again with a new qr code?</h1>
  </body>
</html>